<?xml version='1.0' encoding='utf-8'?>
<widget id="com.scottmetoyer.bpmtap" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Quick BPM Tap</name>
  <description>
    Calculate music BPM (beats per minute) by tapping the screen of your mobile device. Includes convenient real-time calculation of common BPM fractions and multiples.
  </description>
  <author email="scott.metoyer@gmail.com" href="http://scottmetoyer.com">
    Scott Metoyer
  </author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="phonegap-version" value="3.6.3" />
  <icon src="res/icon.png" />
  <preference name="permissions" value="none"/>
</widget>
