/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100vh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #E4E4E4;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #202020;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    width: 100%;
}

/* Portrait layout (default) */
#app {
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
}

.pulse {
    -webkit-animation: pulse .5s;
    animation: pulse .5s;
}

@-webkit-keyframes pulse {
    from {
        background-color: #FF9900;
    }

    to {
        background-color: #E4E4E4;
    }
}

@keyframes pulse {
    from {
        background-color: #FF9900;
    }

    to {
        background-color: #E4E4E4;
    }
}

div.notification {
    height:10vh;
    text-align: center;
    font-size: 3.6vh;
    font-weight: bold;
    padding: 2vh;
    color: #707070;
}

div.main {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 40vh;
    color: #000;
    text-align: center;
    line-height: 36vh;
    font-size: 16vh;
    font-weight: bold;
}

div.bpm-container {
    height: 50vh;
    padding-bottom: 10px;
}

    div.bpm-container > div {
    }

[class*='col-'] {
    float: left;
    width: 50%;
    height: 50%;
    text-align: center;
}

.col-1 {
    padding-left: 10px;
    padding-right: 5px;
}

.col-2 {
    padding-right: 10px;
    padding-left: 5px;
}

[class*='col-'] {
    padding-top: 10px;
}

    [class*='col-']:last-of-type {
    }

.box {
    border: solid 1px #000;
    border-color: #707070;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 6px;
    text-align: center;
}

.label {
    font-weight: bold;
    margin-top: -16px;
    font-size: 24px;
    background-color: #E4E4E4;
    color: #707070;
    border-color: #707070;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

#bpm-4, #bpm-8, #bpm-32, #bpm-64 {
    font-size: 7vh;
    font-weight: bold;
    position: relative;
    top: 38%;
    transform: translateY(-38%);
}
